<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

	<% if(messages.error){ %>
		<div class="alert alert-danger">
			<strong>
				<i> <%= messages.error %> </i>
			</strong>
		</div>
	<% } %>


  <% include ./parts/footer.ejs %>
</body>
</html>
